extends layout 
block content   
    .w3-card-4
        header.w3-container.w3-purple
            h2 Novo Registo
        form.w3-container(method="POST")
            fieldset
                legend Metadata
                label ID 
                input.w3-input.w3-round(type="text" name="ID")
                label ProcessoFull
                input.w3-input.w3-round(type="text" name="ProcessoFull")
                label IdProcesso
                input.w3-input.w3-round(type="text" name="IdProcesso")
                label TituloProcesso
                input.w3-input.w3-round(type="text" name="TituloProcesso")
                label Data
                input.w3-input.w3-round(type="date" name="Data")
                label Arquivo
                input.w3-input.w3-round(type="text" name="Arquivo")
                label ScopeContent
                input.w3-input.w3-round(type="text" name="ScopeContent")
                label AcessoRestrito
                input.w3-input.w3-round(type="text" name="AcessoRestrito")
                label LocalizacaoFisica
                input.w3-input.w3-round(type="text" name="LocalizacaoFisica")
                label LocalizacaoAnterior
                input.w3-input.w3-round(type="text" name="LocalizacaoAnterior")
                label AnotacoesLinguagem
                input.w3-input.w3-round(type="text" name="AnotacoesLinguagem")
                label AnotacoesTecnicas
                input.w3-input.w3-round(type="text" name="AnotacoesTecnicas")
                label MaterialRelacionado
                input.w3-input.w3-round(type="text" name="MaterialRelacionado")

                                      
            button.w3-btn.w3-purple.w3-mb-2(type="submit") Add
               
        footer.w3-container.w3-purple
            h5 Generated in #{d} - [#[a(href="/") Return]]