extends layout
block content
  
  .w3-card-4
    header.w3-container.w3-teal
      .w3-container.w3-teal.w3-left.w3-center 
        if admin 
          h1 Registos #[a.w3-button.w3-round-large(href="/add") + ]
        else 
          h1 Registos
      .w3-container.w3-teal.w3-right.w3-center
        if admin 
          h3 #[a.w3-button.w3-round-large(href="/addUser") Novo Utilizador] #[a.w3-button.w3-round-large(href="/users/logout") Logout]
        else 
          h3 #[a.w3-button.w3-round-large(href="/users/logout") Logout]
    .w3-container
      table.w3-table-all
        tr
          th
            a.w3-button.w3-round-large(href="/admin?_page="+qp+"&_limit="+qr+"&data="+qd+"&local="+ql+"&_sort=TituloProcesso&_order="+qot) TituloProcesso
          th
            a.w3-button.w3-round-large(href="/admin?_page="+qp+"&_limit="+qr+"&data="+qd+"&local="+ql+"&_sort=LocalizacaoFisica&_order="+qol) LocalizacaoFisica
          th
            a.w3-button.w3-round-large(href="/admin?_page="+qp+"&_limit="+qr+"&data="+qd+"&local="+ql+"&_sort=Data&_order="+qod) Data
          if admin 
            th Acções
        each r in registos
          tr
            td
              a(href="/registo/"+r.TituloProcesso)= r.TituloProcesso
            td
              a(href="/admin?_page="+qp+"&_limit="+qr+"&data="+qd+"&local="+r.LocalizacaoFisica+"&_sort=TituloProcesso&_order=asc")= r.LocalizacaoFisica
            td
              a(href="/admin?_page="+qp+"&_limit="+qr+"&data="+r.Data+"&local="+ql+"&_sort=TituloProcesso&_order=asc")= r.Data
            if admin
              td
                button.w3-btn.w3-round.w3-teal.w3-margin-right 
                  a(href="/admin/edit/"+r.TituloProcesso) Editar
                button.w3-btn.w3-round.w3-teal.w3-margin-right 
                  a(href="/admin/delete/"+r.TituloProcesso) Apagar
      .w3-right
        form
          h4 Página #[input(type="number" name="_page" value=""+qp min="1" max=""+qps style="width:50px;" onchange="this.form.submit()")] de #[span= qps]
          h4 #[input(type="number" name="_limit" value=""+qr min="1" max=""+qrs style="width:50px;" onchange="this.form.submit()")] registos por página
          input(type="hidden" name="data" value=""+qd)
          input(type="hidden" name="local" value=""+ql)
          input(type="hidden" name="_sort" value=""+qs)
          if qs == "TituloProcesso"
            if qot == "asc"
              input(type="hidden" name="_order" value="desc")
            else
              input(type="hidden" name="_order" value="asc")
          else if qs == "LocalizacaoFisica"
            if qol == "asc"
              input(type="hidden" name="_order" value="desc")
            else
              input(type="hidden" name="_order" value="asc")
          else if qs == "Data"
            if qod == "asc"
              input(type="hidden" name="_order" value="desc")
            else
              input(type="hidden" name="_order" value="asc")
          else
            input(type="hidden" name="_order" value="asc")
    footer.w3-container.w3-teal
      h5 Generated in #{d} - #[a(href="/admin") Voltar ]